.modal__close {
  position: absolute;
  margin-top: -55px;
  right: -55px;
  width: 55px;
  height: 55px;
  padding: 0;
  cursor: pointer;
  transition: .3s;
  border: 0px;
  background: url('../../../images/Close_Icon.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: transparent;
}


.modal__close:hover {
opacity: .5;
}

@media screen and (max-width: 480px) {
  .modal__close{
  margin-top: -50px;
  right: 0px;
  }
}
