.gallery__card-heart {
  margin: 0;
  padding: 0;
  justify-self: flex-end;
  align-self: center;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background: url('../../../images/card__heart.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
