@import url('./__overlay/modal__overlay.css');
@import url('./__container/modal__container.css');
@import url('./__container/_theme/modal__container_theme_expand-image.css');
@import url('./__title/modal__title.css');
@import url('./__close/modal__close.css');
@import url('./__popup/modal__popup.css');
@import url('./__figure/modal__figure.css');
@import url('./__image/modal__image.css');
@import url('./__caption/modal__caption.css');

.modal {
display: flex;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, .5);
flex-direction: column;
align-items: center;
justify-content: center;
/*display: none; removed the get fade out working*/
visibility: hidden;
opacity: 0;
transition: visibility 0s .3s, opacity .3s linear;

}





