@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/header/header.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/gallery/gallery.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/form/form.css');
@import url('../blocks/modal/modal.css');

.page {
  position: relative;
  min-width: 100%;
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  }

.page__container {
  position: relative;
  max-width: 882px;
  margin: 0 auto;
  color: white;
  overflow: hidden;

}


@media screen and (max-width:900px) {
  .page__container {
    max-width: 882px;
    margin: 0 19px;

  }
}


